@import url('//fonts.googleapis.com/css2?family=Bree+Serif&family=Jacquard+24&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --gray-light: #000000;
  --brown-light: #ffffff;
  --gold: #000000;
  --red: #131111;
  --yellow-light: #fbff00;
  --border-color: #030303;
}
p{
  font-family: "Titillium Web", sans-serif;
}

body {
  /* background: #f2f2f2; */
  font-family: 'Quicksand', sans-serif;
}

aside.context {
  text-align: center;
  color: #000000;
  line-height: 1.7;
}

aside.context a {
  text-decoration: none;
  color: #333;
  padding: 3px 0;
  border-bottom: 1px dashed;
}

aside.context a:hover {
  border-bottom: 1px solid;
}

aside.context .explanation {
  max-width: 700px;
  margin: 4em auto 0;
}

.barr{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;

}

footer {
  text-align: center;
  margin: 4em auto;
  width: 100%;
}

footer a {
  text-decoration: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: transparent;
  border: 1px dashed #333;
  color: #333;
  margin: 5px;
}

footer a:hover {
  background: rgba(255,255,255,0.1);
}

footer .icons {
  margin-top: 12px;
  display: inline-block;
  font-size: 20px;
}

.mainContent {
  margin: 4em auto 0;
  width: fit-content;
  height: fit-content;
  text-transform: uppercase;
}

.ticket {
  display: grid;
  grid-template-columns: auto 143px;
  background: var(--yellow-light);
  border-radius: 10px;
  border: 1px solid #222;
  cursor: pointer;
}

.ticketMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 120px;
  padding: 5px;
}

.header {
  grid-area: title;
  grid-column: span 5;
  grid-row: 1;
  height: fit-content;
  text-align: left;
  font: 900 10px 'Montserrat', sans-serif;
  padding: 3px 0 2px 12px;
  letter-spacing: 4px;
  background: #111;
  color: var(--yellow-light);
  margin: 0px;
}

.info {
  border: 1px solid;
  border-width: 0 3px 3px 0;
  padding: 5px;
}

.infoItem {
  font: 400 6px 'Questrial', sans-serif;
  letter-spacing: 0.5px;
}

.infoItemmm {
  font: 400 6px 'Questrial', sans-serif;
  letter-spacing: 0.5px;
  text-decoration: underline;
}

.infoDetaill {
  font: 700 10px/1 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin: 4px 0;
  font-weight: bold;
  color: #000;
  width: 100%;
}

.infoDetail {
  font: 700 12px/1 'Roboto', sans-serif;
  letter-spacing: 1px;
  margin: 4px 0;
}

.passenger{
  grid-column: 1 / span 6;
}

.platform {
  grid-column: 7 / span 1;
  grid-row: 2 / span 2;
  background: var(--red);
  color: black;
  border-color: #000;
  text-align: center;
  padding: 10px;
}

.platform span {
  display: block;
}


.departure, .arrival {
  grid-column-start: span 3;
}

.passenger, .departure, .date {
  border-left: 3px solid;
}

.date, .time {
  grid-column-start: span 2;
}

.fineprint {
  grid-column-start: span 5;
  font-size: 8px;
  font-family: 'Inconsolata';
  line-height: 1;
  margin-top: 4px;
  padding-right: 5px;
}

.fineprint p:nth-child(2) {
  margin: 4px 4px 0 0;
  padding-top: 4px;
  border-top: 1.5px dotted;
  font: 8px/1 'Inconsolata';
  font-weight: bold;
}

.barcode {
  grid-column-start: span 1;
  display: grid;
  margin: 5px;
  margin-right: 0px;
  grid-template-rows: 1fr min-content;
  background: linear-gradient(to right, #333 2%, #333 4%, transparent 4%, transparent 5%, #333 5%, #333 6%, transparent 6%, #333 6%, #333 8%, transparent 8%, transparent 9%, #333 9%, #333 10.5%, transparent 10.5%, transparent 11%, #333 11%, #333 12%, transparent 12%, transparent 13.5%, #333 13.5%, #333 15%, #333 17%, transparent 17%, transparent 19%, #333 19%, #333 20%, transparent 20%, transparent 21%, #333 21%, #333 22%, transparent 22%, transparent 23.5%, #333 23.5%, #333 25%, transparent 25%, transparent 26.5%, #333 26.5%, #333 27.5%, transparent 27.5%, transparent 28.5%, #333 28.5%, #333 30%, transparent 30%, transparent 32%, #333 32%, #333 34%, #333 36%, transparent 36%, transparent 37.5%, #333 37.5%, #333 40%, transparent 40%, transparent 41.5%, #333 41.5%, #333 43%, transparent 43%, transparent 46%, #333 46%, #333 48%, transparent 48%, transparent 49%, #333 49%, transparent 49%, transparent 50%, #333 50%, #333 51%, transparent 51%, transparent 53%, #333 53%, #333 54.5%, transparent 54.5%, transparent 56%, #333 56%, #333 58%, transparent 58%, transparent 59%, #333 59%, #333 60%, #333 62.5%, transparent 62.5%, transparent 64%, #333 64%, #333 64%, #333 67%, transparent 67%, transparent 69%, #333 69%, #333 70%, transparent 70%, transparent 71%, #333 71%, #333 72%, transparent 72%, transparent 73.5%, #333 73.5%, #333 76%, transparent 76%, transparent 79%, #333 79%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 82.5%, transparent 82.5%, transparent 84%, #333 84%, #333 87%, transparent 87%, transparent 89%, #333 89%, #333 91%, transparent 91%, transparent 92%, #333 92%, #333 95%, transparent 95%);
}

.scan{
  width: 30px;
  height: 30px;
}


.barcode .barcodeId {
  letter-spacing: 4px;
  padding: 2px 0 0;
  color: var(--red);
  font: 700 16px/1 'Jura';
}

.ticketSide {
  background: rgba(192, 42, 40, 0.2);
  box-sizing: border-box;
  border-left: 1.5px dashed #111;
  display: grid;
  grid-template-rows: repeat(2, 124px) 60px;
  grid-template-columns: 40px repeat(2, 45px);
  border-radius: 0 10px 10px 0;
}

.ticketSide .logo {
  text-align: center;
  background: var(--red);
  padding: 5px 2px 5px 2px;
  margin: 5px 0 0 5px;
  font: 900 10px/1 'Montserrat';
  letter-spacing: 1.5px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
  position: relative;
  color: #fff;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.ticketSide .info {
  border: 3px solid var(--red);
  border-width: 3px 3px 0;
  grid-column-start: 2;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

.ticketSide .info.side-arrive {
  margin-top: 10px;
  border-width: 3px;
}

.ticketSide .info.side-date {
  grid-column-start: 3;
  border-right: none;
}

.ticketSide .info.side-time {
  grid-column: 3 / span 1;
  grid-row: 1;
  margin-top: 10px;
  border-width: 3px 0 3px 3px;
}

.ticketSide .infoItem {
  font-size: 8px;
  color: var(--red);
}

.ticketSide .infoDetail {
  font-size: 8px;
  margin: 0 2px 0 0;
  letter-spacing: 0px;

}

.ticketSide .infoDetail:hover {
  font-size: 15px;
  margin: 0 2px 0 0;
  letter-spacing: 0px;
  color: red;
}

.ticketSide .barcode {
  grid-template-rows: 5px 1fr;
  grid-row-start: 3;
  grid-column: 1 / span 3;
  margin: 8px 0 0 7px;
  text-align: center;
}