body {
  background-color: bisque;
}

i {
  font-size: 120px;
}

.b {
  font-size: 16px;
}



.itemImage.large.Imagetwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  grid-column: span 1;
  grid-row: span 2;
  border-bottom: 1px solid black;
  width: fit-content;
  height: fit-content;

}

.opotext {
  font-size: 12px;
  font-weight: bold;
  padding: 0;
  word-spacing: 5px;
  text-decoration: underline;
  text-align: center;
  /* Ensure text alignment is centered */
}

.caption1 {
  font-size: 8px;
  font-style: italic;
  font-family: 'Life Savers', cursive;
  text-align: center;
  /* Center the caption text */
  width: 100%;
  /* Stretch to fit container width */
  margin: 10px 0;
  /* Adjust margin as needed */
}

.youdied {
  padding: 0px;
}


.adheading {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 3px;
  height: 5px;
  padding: 10px;
  font-weight: 800;
  font-family: Life Savers, serif;
}

.underline {
  text-decoration: underline;
}

.caption {
  margin-left: 42px;
  font-size: 8px;
  text-align: right;
  font-style: italic;
  font-family: Life Savers, cursive;

}



.caption1 {
  margin-left: 435px;
  font-size: 8px;
  text-align: right;
  font-style: italic;
  font-family: Life Savers, cursive;


}

h3 {
  padding: 0px;
  text-align: left;

}

p {
  padding: 0px;
  text-align: justify;
  /* font-family: Love ya like a sister, cursive; */
  /* font-family: Life Savers; */
  font-family: Special Elite, cursive;
}

.h3 {
  padding-left: 20px;
}

.ad {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.container {
  width: 72%;
  height: 100%;
  margin: auto;
  border: 2px solid #333;
  /* padding: 20px; */
  background-image: url("/inked.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: antiquewhite;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 0px;
  padding-top: 6px;
  border-top: 2px solid black;
}

.header1 {
  border-bottom: 2px solid black;
  margin-top: 0px;
  color: #000;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  height: 27vh;
  font-family: Life Savers, cursive;
  width: 80%;
  font-size: 20px;
  word-spacing: 10px;
  text-align: center;
  justify-content: center;

}

.header2container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20vh;
}


.header2 {
  border-left: 2px solid #333;
  border-right: 2px solid #333;
  color: #000;
  text-align: center;
  margin-bottom: 0px;
  height: fit-content;
  width: 100%;
  padding: 0px;
}

.bordernone {
  border: none;
  border-radius: 0px;
  margin-bottom: 10px;
  margin-right: 0px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-image: url("/geto.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 50px;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 140px;

}

.eighty {
  padding: 17px;
}

.weather {
  font-family: Life Savers, cursive;
  height: 3px;
  padding: 8px;
  margin: 0px;
  text-align: right;
}

.borderbottom {
  margin-top: 4px;
  border-bottom: 2px solid #333;
}

.header3 {
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
  color: #000;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: fit-content;
  width: 100%;
}

.line {
  margin-top: 20px;
  border-bottom: 5px solid black;
  border-top: 5px solid black;
  padding: 10px;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  font-family: Permanent Marker, cursive;
}

.fontsize {
  font-size: 60px;
  word-spacing: 40px;
  margin-top: 40px;
}

main {
  margin-top: 10px;
}

.grid {
  display: grid;
  gap: 0px;
  grid-template-columns: 2fr 1fr;

}

.item {
  background-color: antiquewhite;
  /* border: 1px solid black; */
  padding: 0px;
}



.short {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding-left: 10px;

}


.itemsmall {
  background-color: antiquewhite;
  width: 100%;
  height: fit-content;
  padding: 0px;
}

.medium {
  grid-row: span 4;
  height: fit-content;
}

.small {
  grid-row: span 1;
}

.smallheading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.long {
  grid-row: span 5;
  height: fit-content;
  padding-left: 20px;
  padding-right: 10px;
}

.smaller {
  grid-row: span 2;
  height: fit-content;
  border-top: 1px solid black;
}

.split {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px;
}

.splitheader {
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
}


section {
  border: none;
  height: fit-content;
}


.large {
  grid-column: span 1;
  grid-row: span 2;
  min-height: 500px;
  border-bottom: 1px solid black;
}


.Imagetwo {
  width: fit-content;
  height: fit-content;
  object-fit: cover;
  width: fit-content;
  padding: 0px;
}

article {
  margin-bottom: 0px;
}

.longer {
  grid-column: span 2;
  height: 30px;
}



.item.opo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;

}

/* .opotext, .caption {
  width: 100%; 
} */

.opotext {
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
  word-spacing: 5px;
  text-decoration: underline;

}

.footer {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.adcaption {
  font-family: Pixelify Sans;
  font-size: 12px;
  color: #000;
  word-spacing: 10px;
  text-align: center;
}

.adcaptionred {
  font-family: Pixelify Sans;
  font-size: 12px;
  color: red;
  word-spacing: 10px;
  text-align: center;
}

/* Responsive Styles */


@media (max-width: 1200px) {
  .container {
    width: 95%;
    padding: 10px;

  }

  .itemImage.large.Imagetwo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column: span 1;
    grid-row: span 2;
    height: fit-content;
    padding: 30px;
    margin-left: 100px;

  }

  .youdied {
    width: 400px;
    height: 400px;
    float: center;
    padding: 0px;
  }
}


@media (max-width: 1000px) {
  .container {
    width: 95%;
    padding: 10px;
  }
}

@media (max-width: 900px) {
  .container {
    width: 90%;

  }

  .fontsize {
    font-size: 50px;
    word-spacing: 2px;
    margin-top: 10px;
    width: 100%;
     }

.bordernone{
  width: 50px;
  gap: 0px;
  height: 100px;
}
.eighty{
  padding: 0px;
}


  .adheading {
    font-size: 8px;
    margin-top: 0px;
    height: 2px;
    padding: 7px;
  }
  .grid {
    grid-template-columns: 2fr;
  }

  .large {
    grid-column: span 1;
    grid-row: span 1;
    min-height: 300px;
    max-width: 200px;
    border-bottom: 1px solid black;
  }

  .medium,
  .small {
    grid-column: span 1;
    grid-row: auto;
    min-height: auto;
  }

  .long,
  .smaller {
    grid-row: span 1;
  }

  .short {
    border-top: none;
    border-left: none;
    align-items: center;
    justify-content: center;
    margin-left: 80px;

  }

  .smallheading {
    font-size: 15px;
  }

  .opotext {
    text-align: center;
    justify-content: center;
    width: 480px;
  }

  i {
    visibility: hidden;
  }

  .footer {
    display: flex;
    width: 98%;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .adcaption {
    font-family: Pixelify Sans;
    font-size: 10px;
    color: #000;
    word-spacing: 0px;
    text-align: center;
  }

  .adcaptionred {
    font-family: Pixelify Sans;
    font-size: 10px;
    color: red;
    word-spacing: 0px;
    text-align: center;
  }
  
.itemImage.large.Imagetwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  grid-column: span 1;
  grid-row: span 2;
  border-bottom: 1px solid black;
  width: 100%;
  height: fit-content;

  margin-left: 200px;


}
.youdied {
  width: 400px;
  height: 300px;
  padding: 0px;
}


}


@media (max-width: 600px) {
  .container {
    width: 100%;
    background-image: none;
    background-color: antiquewhite;
  }

article{
  font-size: 4x;
}
.itemImage.large.Imagetwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  grid-column: span 1;
  grid-row: span 2;
  border-bottom: 1px solid black;
  width: 100%;
  height: fit-content;

  margin-left: 100px;


}
.youdied {
  width: 400px;
  height: 300px;
  padding: 0px;
}



  .adheading {
    font-size: 8px;
    margin-top: 0px;
    height: 2px;
    padding: 7px;
  }

  i {
    font-size: 70px;
  }

  .geto {
    width: 40px;
    height: 50px;
  }

  .fontsize {
    font-size: 80px;
    word-spacing: 5px;
    margin-top: 10px;
    width: 100%;
    color: #000;
  }



  .caption1 {
    margin-left: 0px;
    font-size: 8px;
  }

  .heading {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
    font-family: Permanent Marker, cursive;
  }

  .grid {
    grid-template-columns: 1fr;
  }


  .youdied {
    width: 350px;
    height: 350px;
    float: center;
  }

  .mob{
    width: 200px;
    height: 200px;
    background-color: blue;
  }
.item.opo{
  width: 95%;
}
  .large,
  .medium,
  .small {
    grid-column: span 1;
    grid-row: span 4;
    min-height: auto;
  }

  .long,
  .smaller {
    grid-row: span 1;
    min-height: auto;
  }
  
  .footer {
    display: flex;
    width: 98%;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }

  .adcaption {
    font-family: Pixelify Sans;
    font-size: 8px;
    color: #000;
    word-spacing: 0px;
    text-align: center;
  }


  .hide {
    display: none;
  }

  .adcaptionred {
    font-size: 8px;
    word-spacing: 0px;
    
  }
}