body {
  background-color: bisque;
}

i {
  font-size: 120px;
}

.caption{
  margin-left: 42px;
  font-size: 8px;
  text-align: right;
  font-style: italic;
  font-family: Life Savers, cursive;

}

.caption1{
  margin-left: 435px;
  font-size: 8px;
  text-align: right;
  font-style: italic;
  font-family: Life Savers, cursive;


}

h3 {
  padding: 0px;
  text-align: left;

}

p {
  padding: 0px;
  text-align: justify;
  /* font-family: Love ya like a sister, cursive; */
  /* font-family: Life Savers; */
  font-family: Special Elite, cursive;
}

.h3 {
  padding-left: 20px;
}

.ad {
  text-align: right;
  font-size: 12px;
  font-weight: bold;
}

.container {
  width: 70%;
  height: 100%;
  margin: auto;
  border: 1px solid #333;
  padding: 20px;
  background-color: antiquewhite;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header1 {
  border: 1px solid #333;
  color: #000;
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
  height: 30vh;
  font-family: Life Savers, cursive;
  width: 80%;
  font-size: 20px;
  word-spacing: 10px;
  border-radius: 10px;
}

.header2container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 20vh;
}

.header2 {
  border: 1px solid #333;
  color: #000;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: 60%;
  width: 100%;
  border-radius: 10px;
}

.header3 {
  border: 1px solid #333;
  color: #000;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: 40%;
  width: 100%;
  border-radius: 10px;
}

.line {
  margin-top: 20px;
  border-bottom: 10px solid black;
  border-top: 10px solid black;
  padding: 10px;
}

.heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
  font-family: Permanent Marker, cursive;
}

main {
  margin-top: 10px;
}

.grid {
  display: grid;
  gap: 0px;
  grid-template-columns: 2fr 1fr;

}

.item {
  background-color: antiquewhite;
  /* border: 1px solid black; */
  padding: 0px;
}

.itemImage {
  background-color: antiquewhite;
}

.short {
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding-left: 10px;

}


.itemsmall {
  background-color: antiquewhite;
  width: 100%;
  height: fit-content;
  padding: 0px;
}

.large {
  grid-column: span 1;
  grid-row: span 2;
  min-height: 500px;
}

.medium {
  grid-row: span 4;
  height: fit-content;
}

.small {
  grid-row: span 1;
}

.smallheading {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.long {
  grid-row: span 5;
  height: fit-content;
  padding-left: 20px;
  padding-right: 10px;
}

.smaller {
  grid-row: span 2;
  height: fit-content;
  border-top: 1px solid black;
}

.split {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px;
}

.splitheader {
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
}


section {
  border: none;
  height: fit-content;
}

.Imagetwo {
  width: fit-content;
  height: fit-content;
  object-fit: cover;
  width: fit-content;
  padding: 0px;
}

article {
  margin-bottom: 0px;
}

.longer {
  grid-column: span 2;
  height: 30px;
}

.opo {
  padding-left: 20px;
}

.opotext {
  font-size: 12px;
  font-weight: bold;
  padding: 0px;
  word-spacing: 5px;
  text-decoration: underline;

}

.footer{
  display: flex;
  gap: 40px;
align-items: center;
  justify-content: center;
}
.adcaption{
  font-family: Pixelify Sans;
  font-size: 12px;
  color: #000;
  word-spacing: 10px;
  text-align: center;
}

.adcaptionred{
  font-family: Pixelify Sans;
  font-size: 12px;
  color: red;
  word-spacing: 10px;
  text-align: center;
}

/* Responsive Styles */

@media (max-width: 900px) {
  .container {
    width: 90%;
  }

  .grid {
    grid-template-columns: 2fr;
  }

  .large {
    grid-column: span 1;
    grid-row: span 1;
    min-height: 300px;
    max-width: 200px;
    border-bottom: 1px solid black;
  }

  .medium,
  .small {
    grid-column: span 1;
    grid-row: auto;
    min-height: auto;
  }

  .long,
  .smaller {
    grid-row: span 1;
  }

  .short{
    border-top: none;
    border-left: none;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
  
  }

  .smallheading{
    font-size: 15px;
  }

  .opotext{
    text-align: center;
    justify-content: center;
    width: 480px;
  }
i{
  visibility: hidden;
}
}

/* 
@media (max-width: 600px) {
  .container {
    width: 95%;
  }

  .grid {
    grid-template-columns: 2fr;
  }

  .large,
  .medium,
  .small {
    grid-column: span 1;
    grid-row: auto;
    min-height: auto;
  }

  .long,
  .smaller {
    grid-row: span 1;
  }
} */