
.container {
  width: 70%;
  height: 100%;
  margin: auto;
  border: 1px solid #333;
  padding: 20px;

}


.header{
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 10px;
  height: 40vh;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  height: 20px;
}


nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  height: 20px;
}

nav a {
  color: #000;
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  /* grid-auto-rows: minmax(100px, auto); */
  gap: 10px;
}

.item {
  background-color: #f4f4f4;
  padding: 10px;
}
.itemsmall{
  background-color: #f4f4f4;
  padding: 10px;
  width: 100%;

}
.large {
  grid-column: span 2;
  grid-row: span 2;
}

.medium {
  grid-row: span 2;
}

.small {
  grid-row: span 1;
}

.long{
  grid-row: span 3;
}
.split {
  display: flex;
  flex-direction: row;
  gap: 10px;
 
}

section {
  height: 100%;
}

article {
  margin-bottom: 10px;
}

.footer{
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  margin-top: 20px;
}
.pagenumber {
  margin-top: 10px;
  height: 20px;
  width: 100%;
  text-align: right;
}

