@import url('//fonts.googleapis.com/css2?family=Jersey+20&family=Jersey+25&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('//fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  font-family: "Quicksand", sans-serif;
  background: rgb(228, 222, 212);
}


.pagenumber {
  color: rgb(255, 255, 255);
}



.container {
  width: 70%;
  height: 100%;
  margin: auto;
  border: 5px solid rgb(240, 235, 235);
  padding: 20px;
  z-index: 0;
  background-color: black;
  border-radius: 2px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
}

.headercontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70vw;
}

.header1 {
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  height: 30vh;
  width: fit-content;
}

.caption {
  width: 75%;
}

.actualcaption {
  font-size: 13px;
  font-style: italic;
  text-align: left;
  padding: 10px;
  width: fit-content;
  color: white;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 21px #fff,
    0 0 151px rgb(255, 255, 255);
}

.heading :hover {
  animation: flicker 0.5s infinite ease-out;
  cursor: pointer;
}

/* Flickering animation */
@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 9px rgb(255, 255, 255);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flickerred {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 5px red,
      0 0 18px red,
      0 0 25px red,
      0 0 9px rgb(255, 0, 0);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}


/* Flickering animation */
@keyframes flickered {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
      0 0 2px #fff,
      0 0 3px rgb(255, 255, 255);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }

  90% {
    box-shadow:
      0 0 3px rgb(255, 69, 0);
  }
}

@keyframes flickerwhite {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
      0 0 2px #fff,
      0 0 3px rgb(255, 255, 255);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }

}

h1 {
  font-family: 'Jersey 20', sans-serif;
}

.big {
  font-size: 40px;
  color: rgb(255, 164, 44);
}

.lessbig {
  font-size: 34px;
}

.header2container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 30%;
  margin-right: 20px;
}

.header2 h1,
.header3 h1 {
  margin: 0;
  padding: 18px 0;
  width: 100%;
}

.header2 {
  background-color: none;
  color: #fff;
  text-align: center;
  padding: 0px 0;
  margin-bottom: 0px;
  width: 100%;
  border: 0.5px solid #fff;
  animation: flickered 2s infinite alternate;
  justify-content: center;
  align-items: center;
}

.header3 {
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 0px 0;
  margin-bottom: 0px;
  width: 100%;
  border: 0.3px solid #fff;
  animation: flickered 0.7s infinite alternate;
}

.line {
  margin-top: 20px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  padding: 10px;
}

.heading {
  text-align: center;
  font-size: 60px;
  font-weight: regular;
  font-family: 'Jersey 25', sans-serif;
  margin: 16px;
  color: #fff;
}



h1:hover {
  animation: flicker 0.5s infinite ease-out;
  cursor: pointer;
}


p,
h3,
h2 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

main {
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.item {
  background-color: transparent;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.itemsmall {
  background-color: antiquewhite;
  width: 100%;
  border: 1px solid black;
}

.large {
  grid-column: span 1;
  grid-row: span 4;
  min-height: 550px;
}

.medium {
  grid-column: span 2;
  width: 98%;
  padding-bottom: 0px;
  height: 42vh;
}

.columns {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin: 0px;
  width: 290%;
  height: fit-content;
  gap: 10px;

}

.small.split {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: flex-start;
}

.item1 {
  width: 60%;
  padding: 0px;
  margin: 0px;
}

.item2 {
  width: 30%;
  padding: 0px;
  margin: 0px;
}


.flex {
  display: flex;
  flex-direction: column;
  width: 57%;
  padding: 0px;
  margin: 0px;
  gap: 0px;

}

.item.medium,
.item.longest {
  padding-bottom: 0px;
  margin-bottom: 0px;
  overflow: hidden;
  height: fit-content;
}













.a {
  animation: flickered 1.9s infinite alternate;
  padding-bottom: 0px;
}

.b {
  animation: flickered 1.3s infinite alternate;
}

.c {
  animation: flickered 0.6s infinite alternate;
}

.d {
  animation: flickered 1.2s infinite alternate;
}

.e {
  animation: flickered 1.5s infinite alternate;
}

.f {
  animation: flickered 0.3s infinite alternate;
}

.smalll {
  height: fit-content;

}



.oldman {
  background-color: white;
}

/* swiping animation */
/* @keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(70%);
  }
} */

.swipe-hint {
  position: absolute;
  bottom: 50px;
  left: 42%;
  background: none;
  transform: rotate(-25deg);
  font-size: 1.2rem;
  scale: 3;
  color: #FF4500;
  z-index: 90;
  animation: swipe .8s linear infinite alternate;
  filter: drop-shadow(1px 0 1px rgb(255, 69, 0));

}


@keyframes swipe {
  100% {
    transform: rotate(90deg);
  }
}


.smallll {
  margin-bottom: 10px;
  background-color: black;
  margin-top: 10px;
  padding: 5px;
  align-items: flex-end;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.coupon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}


.coupon {
  text-align: center;
  font-size: 16px;
  color: rgb(255, 145, 0);
  cursor: pointer;
  animation: flickerred 1s infinite alternate;
}


.blacktext {
  color: black;
  background-color: white;
  font-weight: 800;
}

.infoc {
  color: white;
  background-color: black;
  font-weight: 500;
  font-size: 12px;

}

.details {
  color: white;
  background-color: black;
  font-weight: 500;
  font-size: 10px;

}

.danger {
  color: red;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 0px;
  width: 100%;

}



.item1 {
  grid-column: span 1;
  grid-row: span 3;
  background-color: transparent;
  border: 1px solid white;
  max-height: 590px;
  padding: 10px;
  padding-bottom: 0px;
  animation: flickered 12s infinite alternate;
}

.item2 {
  grid-column: span 1;
  grid-row: span 3;
  background-color: transparent;
  border: 1px solid white;
  height: fit-content;
  animation: flickered 10s infinite alternate;
  padding: 10px;
  word-spacing: -2.4px;

}

.item3 {
  background-color: black;
  border: 1px solid white;
  animation: flickered 8s infinite alternate;
  height: fit-content;
  width: 80%;
  padding: 10px;
  word-spacing: -1px;
  padding-bottom: 0px;
  z-index: 40;

}


.caption2 {
  float: right;
  text-align: right;
  font-size: 13px;
  width: 82%;
  font-style: italic;
}

.smallheading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.long {
  grid-row: span 5;
}

.smaller {
  height: 97px;
  width: 95%;
  margin-top: 10px;
}

.split {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

section {
  height: 100%;
}

article {
  margin-bottom: 10px;
}

.footerr {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  margin-top: 20px;
  animation: flickered 6s infinite alternate;

}

text {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 100px;
}

.longer {
  grid-column: span 3;
  height: 30px;
  border: 1px solid white;
  animation: flickered 12s infinite alternate;
}

.long {
  grid-column: span 2;
  grid-row: span 2;
  border: 1px solid blueviolet;
  margin-top: 10px;
}

.longest {
  grid-column: span 3;
  height: 290px;
  border: 1px solid white;
  margin-top: 10px;
  width: 98%;
}

/* modal: */


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: transparent;
  color: #000;
}

.modal-content {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #fff;
  height: fit-content;
  padding: 0px;
  padding-top: 0px;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
}

/* .glasseffect{
  background-color: rgba(0, 0, 0, 0.5);
  height: 68%;
  width: 50%;
  position: relative;
  border-radius: 22px;
  animation: flickered 0.5s infinite alternate;
} */

.glasseffect {
  background-color: rgba(0, 0, 0, 0.5);
  height: 68%;
  width: 50%;
  position: relative;
  border-radius: 22px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  border: 2px solid rgba(255, 146, 3, 0.75);
  color: #000;
  animation: neonFlicker 1s infinite alternate;
}

@keyframes neonFlicker {

  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 20px rgba(255, 146, 3, 0.75);
  }

  20%,
  22%,
  24%,
  55% {
    box-shadow: 0 0 20px rgba(255, 146, 3, 0.25);
  }

  30%,
  50%,
  70%,
  90% {
    box-shadow: none;
  }

}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  padding-bottom: 0px;
  cursor: pointer;
  float: right;
  font-size: 28px;
  color: white;
}

/* Ticker Slideshow: */

.header1 {
  height: fit-content;
  width: 80%;
  background:
    linear-gradient(90deg, rgb(255, 255, 255) 50%, transparent) repeat-x,
    linear-gradient(90deg, rgb(255, 255, 255) 50%, transparent 0) repeat-x,
    linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 0) repeat-y,
    linear-gradient(0deg, rgb(255, 255, 255) 50%, transparent 0) repeat-y;
  background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove .2s infinite linear;
  padding: 5px;
}

.sth {
  height: fit-content;
  width: 80%;
  background:
    linear-gradient(90deg, rgb(255, 146, 3) 50%, transparent) repeat-x,
    linear-gradient(90deg, rgb(255, 146, 3) 50%, transparent 0) repeat-x,
    linear-gradient(0deg, rgb(255, 146, 3) 50%, transparent 0) repeat-y,
    linear-gradient(0deg, rgb(255, 146, 3) 50%, transparent 0) repeat-y;
  background-size: 4px 1px, 4px 1px, 1px 4px, 1px 4px;
  background-position: 0 0, 0 100%, 0 0, 100% 0;
  animation: linearGradientMove .2s infinite linear;
  padding: 5px;
}

@keyframes linearGradientMove {
  100% {
    background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
  }

}

.ticker-wrapper {
  overflow: hidden;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 30px rgba(255, 255, 255, 0.8);
  animation: flickerwhite 1s infinite alternate;
}

.ticker-content {
  display: flex;
  animation: scroll-left 50s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-900%);
  }

}

.ticker-image {
  margin-right: 0px;
  min-width: 180px;
  /* max-height: 180px; */
  height: 150px;

}

.item1,
.longest {
  overflow: hidden;

}

@media screen and (max-width: 1300px) {
  .container {
    width: 78%;

  }

}


@media screen and (max-width: 1100px) {
  .container {
    width: 90%;

  }

}




@media screen and (max-width: 950px) {
  .container {
    width: 80%;
  }

  .headercontainer {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .ticker-image {
    height: 130px;
  }

  .header1 {
    height: 20vh;
    width: 100%;
  }

  .header2container {
    width: 101%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .header2,
  .header3 {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .big {
    font-size: 34px;
  }

  .lessbig {
    font-size: 27px;
  }

  .line {
    margin-top: 14px;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
    padding: 7px;
  }

  .heading {
    font-size: 44px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .item {
    padding: 10px;

  }

  .item.small.c {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 0px;
  }

  .item.small.c section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
  }

  .infoc,
  .details,
  .danger {
    padding: 0px;
    margin: 2px;
  }

  .oldman {
    width: 350px;
    height: 350px;
  }

  .swipe-hint {
    bottom: 30px;
    scale: 2;
  }

  .coupon {
    font-size: 20px;
    color: rgb(255, 145, 0);
    cursor: pointer;
    animation: flickerred 1s infinite alternate;
  }

  .item1,
  .item2 {
    width: 95%;

  }

  .medium {
    width: 100%;
  }

  .columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }


  .flex {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .small.split {
    flex-direction: column;
    width: 100%;
  }

  .longest,
  .item3 {
    display: inherit;
    width: 100%;
  }

 
 .smallll{
  justify-content: center;
  align-items: center;
 }


}








@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }

  .headercontainer {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .ticker-image {
    height: 92px;
  }

  .header1 {
    height: 14vh;
    width: 100%;
  }

  .header2container {
    width: 101%;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;
  }

  .header2,
  .header3 {
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .big {
    font-size: 28px;
  }

  .lessbig {
    font-size: 24px;
  }

  .line {
    margin-top: 10px;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    padding: 5px;
  }

  .heading {
    font-size: 40px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .item {
    padding: 10px;

  }

  .item.small.c {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: fit-content;
    padding: 0px;
  }

  .item.small.c section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
  }

  .infoc,
  .details,
  .danger {
    padding: 0px;
    margin: 2px;
  }

  .oldman {
    width: 270px;
    height: 270px;
  }

  .swipe-hint {
    bottom: 30px;
    scale: 2;
  }

  .coupon {
    font-size: 12px;
    color: rgb(255, 145, 0);
    cursor: pointer;
    animation: flickerred 1s infinite alternate;
  }

  .item1,
  .item2 {
    width: 95%;

  }

  .medium {
    width: 100%;
  }

  .columns {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

  }


  .flex {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .small.split {
    flex-direction: column;
    width: 100%;
  }

  .longest,
  .item3 {
    display: inherit;
    width: 100%;
  }

 .coupon-container{
  display: none;
 }

 .smallll{
  justify-content: center;
  align-items: center;
 }


}