@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

body {
  background-color: black;
  font-family: "Quicksand", sans-serif;
}

.pagenumber {
  color: white;
}

.container {
  width: 70%;
  height: 100%;
  margin: auto;
  border: 5px solid #ffffff;
  padding: 20px;
  background-color: black;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70vw;
}

.header1 {
  color: #fff;
  text-align: center;
  margin-bottom: 0px;
  height: 40vh;
  width: fit-content;
}

.caption {
  width: 75%;
}

.actualcaption {
  font-size: 13px;
  font-style: italic;
  text-align: left;
  padding: 10px;
  width: fit-content;
  color: white;
}

.neonText {
  color: #fff;
  text-shadow:
    0 0 21px #fff,
    0 0 151px rgb(255, 255, 255);
}

.heading :hover {
  animation: flicker 0.5s infinite ease-out;
  cursor: pointer;
}

/* Flickering animation */
@keyframes flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 5px #fff,
      0 0 9px rgb(255, 255, 255);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

@keyframes flickerred {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow:
      0 0 5px #b3b009,
      0 0 18px rgb(255, 0, 0),
      0 0 9px rgb(255, 0, 0);
  }

  20%,
  24%,
  55% {
    text-shadow: none;
  }
}


/* Flickering animation */
@keyframes flickered {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
      0 0 2px #fff,
      0 0 3px rgb(255, 255, 255);
  }

  20%,
  24%,
  55% {
    box-shadow: none;
  }
}

.header2container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  margin-right: 20px;

}

.header2 {
  background-color: none;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: 70%;
  width: 100%;
  border: 1px solid #fff;
  animation: flickered 6s infinite alternate;

}

.header3 {
  background-color: transparent;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: 30%;
  width: 100%;
  border: 1px solid #fff;
  animation: flickered 12s infinite alternate;
}

.line {
  margin-top: 20px;
  border-bottom: 3px solid white;
  border-top: 3px solid white;
  padding: 10px;
}

.heading {
  text-align: center;
  font-size: 60px;
  font-weight: regular;
  margin: 16px;
  color: #fff;
}

h3,
p,
h2 {
  color: #fff;
  font-family: "Quicksand", sans-serif;
}

main {
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.item {
  background-color: transparent;
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  animation: flickered 5s infinite alternate;
}

.itemsmall {
  background-color: antiquewhite;
  width: 100%;
  border: 1px solid black;
}

.large {
  grid-column: span 1;
  grid-row: span 4;
  min-height: 550px;
}

.medium {
  grid-column: span 2;
  width: 98%;
  height: 42vh;
}

.small {
  grid-row: span 1;
  height: fit-content;
}

.smalll {
  height: fit-content;
}

.oldman {
  background-color: white;
}

.smallll {
  margin-bottom: 10px;
  background-color: black;
  margin-top: 10px;
  padding: 5px;
  align-items: flex-end;
  padding-bottom: 4px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}



.coupon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}


.coupon {
  text-align: center;
  font-size: 16px;
  color: red;
  cursor: pointer;
  animation: flickerred 1s infinite alternate;
}


.blacktext {
  color: black;
  background-color: white;
  font-weight: 800;
}

.infoc {
  color: white;
  background-color: black;
  font-weight: 500;
  font-size: 12px;

}
.details{
  color: white;
  background-color: black;
  font-weight: 500;
  font-size: 10px;

}
.danger{
  color: red;
  font-weight: 500;
  font-size: 12px;
  text-align: center;
  padding: 0px;
  width: 100%;

}



.item1 {
  grid-column: span 1;
  grid-row: span 3;
  background-color: transparent;
  border: 1px solid white;
  height: 590px;
  padding: 10px;
  animation: flickered 15s infinite alternate;
}

.item2 {
  grid-column: span 1;
  grid-row: span 3;
  background-color: transparent;
  border: 1px solid white;
  height: fit-content;
  animation: flickered 12s infinite alternate;
  padding: 10px;
}

.item3 {
  background-color: black;
  border: 1px solid white;
  animation: flickered 8s infinite alternate;
  height: 280px;
  width: 100%;
  padding: 10px;
  overflow: hidden;
  word-spacing: 0px;
  word-wrap: break-word;
}


.caption2 {
  float: right;
  text-align: right;
  font-size: 13px;
  width: 82%;
  font-style: italic;
}

.smallheading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px;
}

.long {
  grid-row: span 5;
}

.smaller {
  height: 97px;
  width: 95%;
  margin-top: 10px;
}

.split {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

section {
  height: 100%;
}

article {
  margin-bottom: 10px;
}

.footerr {
  width: 100%;
  height: 40px;
  border: 1px solid white;
  margin-top: 20px;
  animation: flickered 6s infinite alternate;

}

text {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 100px;
}

.longer {
  grid-column: span 3;
  height: 30px;
  border: 1px solid white;
  animation: flickered 12s infinite alternate;
}

.long {
  grid-column: span 2;
  grid-row: span 2;
  border: 1px solid blueviolet;
  margin-top: 10px;
}

.longest {
  grid-column: span 3;
  height: 290px;
  border: 1px solid white;
  margin-top: 10px;
  width: 98%;
}

/* modal: */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  background-color: transparent;
  color: #000;
}

.modal-content {
  /* background-color: rgba(0, 0, 0, 0.5); */
  background-color: #fff;
  height: fit-content;
  padding: 0px;
  padding-top: 0px;
  border-radius: 5px;
  width: fit-content;
  text-align: center;
}

/* .glasseffect{
  background-color: rgba(0, 0, 0, 0.5);
  height: 68%;
  width: 50%;
  position: relative;
  border-radius: 22px;
  animation: flickered 0.5s infinite alternate;
} */

.glasseffect {
  background-color: rgba(0, 0, 0, 0.5);
  height: 68%;
  width: 50%;
  position: relative;
  border-radius: 22px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  border: 2px solid rgba(0, 255, 255, 0.75);
  color: #000; 
  animation: neonFlicker 1s infinite alternate;
}

@keyframes neonFlicker {
  0%, 19%, 21%, 23%, 25%, 54%, 56%, 100% {
    box-shadow: 0 0 20px rgba(1, 153, 153, 0.75);
  }
  20%, 22%, 24%, 55% {
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.25);
  }
  30%, 50%, 70%, 90% {
    box-shadow: none;
  }

}

.close{
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  padding-bottom: 0px;
  cursor: pointer;
  float: right;
  font-size: 28px;
  color: white;
}


@media screen and (max-width: 1200px) {
  .longest {
    width: 36vw;
  }
}

.thin {
  width: 20px;
  height: 30px;
  border: 1px solid white;
  animation: flickered 8s infinite alternate;
  margin-top: 10px;
}

.footer {
  width: 100%;
  height: 40px;
  border: 1px solid #000;
  margin-top: 20px;
}


@media screen and (max-width: 800px) {
  .container {
    width: 90%;
  }

  .headercontainer {
    flex-direction: column;
    width: 100%;

  }

  .header1 {
    height: auto;
    width: 100%;
  }

  .header2container {
    width: 100%;
  }

  .header2,
  .header3 {
    height: auto;
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .medium {
    width: 50%;
    height: auto;
  }

  .large,
  .item1,
  .item2 {
    grid-column: span 1;
    grid-row: span 1;
    height: auto;
  }

  .item3 {
    height: 56%;
    width: 160px;
  }


  @media screen and (max-width: 800px) {

    .longest,
    .caption {
      display: none;
    }
  }
}


@media screen and (max-width: 600px) {
  .container {
    width: 90%;
  }

  .headercontainer {
    flex-direction: column;
    width: 100%;

  }

  .header1 {
    height: auto;
    width: 100%;
  }

  .header2container {
    width: 100%;
  }

  .header2,
  .header3 {
    height: auto;
    width: 100%;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .medium {
    width: 50%;
    height: auto;
  }

  .large,
  .item1,
  .item2 {
    grid-column: span 1;
    grid-row: span 1;
    height: auto;
  }

  .item3 {
    height: 56%;
    width: 160px;
  }


  @media screen and (max-width: 600px) {

    .longest,
    .caption {
      display: none;
    }
  }
}