body {
  background-color: bisque;
}

.container {
  width: 70%;
  height: 100%;
  margin: auto;
  border: 1px solid #ffffff;
  padding: 20px;
  background-color: bisque;
}

.headercontainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 70vw;
}

.header1 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: 40vh;
  width: 80%;
}

.header2container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 16%;

}

.header2 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: 70%;
  width: 100%;
}

.header3 {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 0px;
  height: 30%;
  width: 100%;
}

.caption {
  text-align: right;
  font-size: 13px;
  width: 82%;
  font-style: italic;

}

.line {
  margin-top: 20px;
  border-bottom: 10px solid black;
  border-top: 10px solid black;
  padding: 10px;
}


.heading {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 20px;
}

main {
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.item {
  background-color: bisque;
  padding: 10px;

  border: 1px solid rgb(255, 255, 255);
}

.itemsmall {
  background-color: antiquewhite;

  width: 100%;
  border: 1px solid black;

}

.large {
  grid-column: span 1;
  grid-row: span 4;
  min-height: 550px;
}

.medium {
  grid-column: span 2;
  width: 30vw;
  height: 40vh;


}

.small {
  grid-row: span 1;
}

.item1 {
  grid-column: span 1;
  grid-row: span 3;
  background-color: bisque;
  border: 1px solid white;
  height: 500px;
  padding: 10px;
}

.item2 {
  grid-column: span 1;
  grid-row: span 3;
  background-color: bisque;
  border: 1px solid white;
  height: 300px;
  padding: 10px;
}

.item3 {
  background-color: bisque;
  border: 1px solid white;
  height: 56%;
  padding: 10px;

}

.caption2 {
  float: right;
  text-align: right;
  font-size: 13px;
  width: 82%;
  font-style: italic;

}

.smallheading {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  border: 1px solid black;
  padding: 10px
}

.long {
  grid-row: span 5;

}

.smaller {
  height: 97px;
  width: 95%;
  margin-top: 10px;

}

.split {
  display: flex;
  flex-direction: row;
  gap: 10px;

}

section {
  height: 100%;
}

article {
  margin-bottom: 10px;
}

.footer {
  width: 100%;
  height: 30px;
  border: 1px solid #000;
  margin-top: 20px;
}

text {
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  width: 100px;
}

.longer {
  grid-column: span 3;
  height: 30px;
  border: 1px solid white;
}

.long {
  grid-column: span 2;
  grid-row: span 2;
  border: 1px solid blueviolet;
  margin-top: 10px;
}

.longest {
  grid-column: span 3;
  height: 70px;
  border: 1px solid white;
  margin-top: 10px;
  width: 43vw;
}

.thin{
  width: 20px;
  height: 30px;
  border: 1px solid white;
  margin-top: 10px;
}